<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
	  <httpProtocol>
		  <customHeaders>
			  <add name="X-Frame-Options" value="DENY" />
			  <add name="X-XSS-Protection" value="1; mode=block" />
		  </customHeaders>
	  </httpProtocol>
  </system.webServer>
</configuration>