@*USERS*@

<br />
<div class="row">
    <div class="col-4" style="text-align:center">
        <a asp-area="" asp-controller="Home" asp-action="Admin_Products" style="text-align:center; color:black; font-size:large">Products</a>
    </div>
    <div class="col-4" style="text-align:center">
        <a asp-area="" asp-controller="Home" asp-action="Admin_Users" style="text-align:center; color:black; font-size:large"><u style="font-weight: bold;">Users</u></a>
    </div>
    <div class="col-4" style="text-align:center">
        <a asp-area="" asp-controller="Home" asp-action="Admin_Orders" style="text-align:center; color:black; font-size:large">Orders</a>
    </div>
</div>

<div>
    USERS TABLE
</div>