@*ORDERS*@

<div class="row">
    <div class="col-4">
        <a asp-area="" asp-controller="Home" asp-action="Admin_Products">Products</a>
    </div>
    <div class="col-4">
        <a asp-area="" asp-controller="Home" asp-action="Admin_Users">Users</a>
    </div>
    <div class="col-4">
        <a asp-area="" asp-controller="Home" asp-action="Admin_Orders"><u style="font-weight: bold">Orders</u></a>
    </div>
</div>

<div>
    ORDERS TABLE
</div>