@*PRODUCTS*@

<div class="row">
    <div class="col-4">
        <a asp-area="" asp-controller="Home" asp-action="Admin_Products"><u style="font-weight: bold">Products</u></a>
    </div>
    <div class="col-4">
        <a asp-area="" asp-controller="Home" asp-action="Admin_Users">Users</a>
    </div>
    <div class="col-4">
        <a asp-area="" asp-controller="Home" asp-action="Admin_Orders">Orders</a>
    </div>
</div>

<div>
    PRODUCTS TABLE
</div>