<h1 style="text-align:center">Thank you for contacting us!</h1>
<h3 style="text-align:center">We will review your comment and reach out within 3-5 business days</h3>

<div style="color: #5b64d1;" class="text-center">
    <a asp-area="" asp-controller="Home" asp-action="Index"><u>Return to Home</u></a>
</div>
<br />
<div style="color: #5b64d1;" class="text-center">
    <a asp-area="" asp-controller="Home" asp-action="Help"><u>Return to Help</u></a>
</div>