<br />
<br />
<br />
<br />
<h1 style="text-align:center">Thank you for your order!</h1>
<br />
<br />

<div style="color: #5b64d1;" class="text-center">
    <a asp-area="" asp-controller="Home" asp-action="Index"><u>Return to Home</u></a>
</div>
<br />
<div style="color: #5b64d1;" class="text-center">
    <a asp-area="" asp-controller="Home" asp-action="ProductList"><u>Return to Shopping</u></a>
</div>