@{
    ViewData["Title"] = "Product List";
}
@model ProductRecommendViewModel
<div class="container">
    <div class="row">

        <!-- Main Content Section (Right Side) -->
        <div class="col-lg-11">
            <section class="py-5">
                <div class="container px-4 px-lg-5 mt-5">
                    <h3>All Products</h3>
                    <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-4 justify-content-center">
                        @foreach (Product p in Model.Products ?? Enumerable.Empty<Product>())
                        {
                            <div class="col mb-5">
                                <a href="@Url.Action("ProductDetails", "Home", new { ProductId = p.ProductId, Name = p.Name, ImgLink = p.ImgLink, Price = p.Price, Description = p.Description})" class="card-link">
                                    <div class="card h-100 border-0">
                                        <partial name="ProductSummary" model="p" />
                                    </div>
                                </a>
                            </div>
                        }
                        }

                    </div>
                </div>
            </section>
            <div>
            </div>
        </div>
    </div>
</div>



































