@{
    ViewData["Title"] = "Product List";
}

@model ProductListViewModel

    <h1>Lego Products</h1>


        <div class="col-2">
            <!-- Filter options -->
            <vc:product-types />
        </div>
        <div class="product-list" style="padding-left: 200px">
           <div class="container px-12 mt-1">
              <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 justify-content-center"> 
                <!-- Product list -->
                @foreach (Product p in Model.Products)
                {
                    <partial name="ProductSummary" model="p" />
                }
              </div>
           </div>
        </div>



    <div class="row mt-4">
        <div class="col-md-6" style="text-align:center">
            <!-- Pagination -->
            <div page-model="@Model.PaginationInfo" page-action="ProductList" page-class-enabled="true"
                 page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
                 page-url-projectType="@Model.CurrentProductType">
            </div>
        </div>

        <div class="col-md-6 text-end">
            <!-- Cart summary -->
            <vc:cart-summary />
        </div>
    </div>
</div>
