@{
    ViewData["Title"] = "Product List";
}

@model ProductListViewModel

<h1>Lego</h1>
@foreach (Product p in Model.Products)
{

    <partial name="ProductSummary" model="p" />

}


<div page-model="@Model.PaginationInfo" page-action="ProductList" page-class-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
     page-url-projectType="@Model.CurrentProductType"
     class="btn-group pull-right m-1">
</div>
