@model Customer

<style>
    .pill-input {
        border: 1px solid #ccc;
        border-radius: 30px;
        padding: 8px 12px;
        width: 50%;
        box-sizing: border-box;
        margin-bottom: 10px; /* Add margin bottom for spacing between input fields */
    }

    .label-text {
        font-weight: bold;
        margin-bottom: 5px; /* Add margin bottom for spacing between labels and inputs */
    }
</style>

<form method="post">
    <input asp-for="CustomerId" type="hidden" />
    <div class="row container-help">
        <div>
            <br />
            <h1 style="font-weight:bold; color: #5b64d1">Edit Customer</h1>
            <br />
            <div class="label-text">First Name</div>
            <input asp-for="FirstName" class="pill-input" />
            <br />
            <div class="label-text">Last Name</div>
            <input asp-for="LastName" class="pill-input" />
            <br />
            <div class="label-text">Birth Date</div>
            <input asp-for="BirthDate" type="date" class="pill-input" />
            <br />
            <div class="label-text">Country</div>
            <input asp-for="CountryOfResidence" class="pill-input" />
            <br />
            <div class="label-text">Gender</div>
            <input asp-for="Gender" class="pill-input" />
            <br />
            <div class="label-text">Email</div>
            <input asp-for="CustEmail" type="email" class="pill-input" />
            <br />
            <button type="submit" style="background-color: #5b64d1; color: white; font-weight: bold; padding: 10px 20px; font-size: 16px; display: block;" class="rounded-pill">Save</button>
        </div>
    </div>
</form>
<br />