<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lego</title>
    <link href="~lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <body>
        <div class="bg-dark text-white p-2">
            LEGO
        </div>
        <div class="m-1 p-1">
            @RenderBody();
        </div>
    </body>
</head>
</html>