<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Intex2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Intex2.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light" style="background-color: #bfbfbf; border-bottom: 1px solid #ccc; box-shadow: 0 2px 4px rgba(191, 191, 191, 255);">
            <div class="container-fluid">
                <!-- Logo -->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/logo.jpeg" alt="Aurora Bricks Logo" style="height: 50px;">
                </a>

                <!-- Toggle Button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navigation Items (Shop and About Us) -->
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ProductList" style="color: white !important; font-weight: 600;">Shop</a>  @* asp-route-pageNum=1 asp-route-productType="Lego" *@
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs" style="color: white !important; font-weight: 600;">About Us</a>
                        </li>
                    </ul>

                    <!-- Right-justified Icons -->
                    <ul class="navbar-nav">
                        <li>
                            <vc:cart-summary /> 
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link text-dark" id="question-mark-dropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="~/questionmark.jpeg.png" alt="Question Mark Icon" style="height: 35px;">
                                </a>
                                <div class="dropdown-menu" aria-labelledby="question-mark-dropdown">
                                    <a class="dropdown-item" asp-controller="Home" asp-action="Help">Help</a>
                                    <a class="dropdown-item" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </div>
                            </div>
                        </li>
@*                         <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link text-dark" id="lego-profile-dropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="~/legoprofile.jpeg.png" alt="Lego Profile Icon" style="height: 35px;">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="lego-profile-dropdown">
                                    <a class="dropdown-item" asp-controller="Home" asp-action="Login">Login</a>
                                    <a class="dropdown-item" asp-controller="Home" asp-action="SignUp">Sign Up</a>
                                </div>
                            </div>
                        </li> *@
                        <li>
                           <partial name="_LoginPartial" />
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


        @* <div class="container col-9"> *@

            <main role="main" class="pb-3">
            <partial name="_CookieConsentPartial" />
                @RenderBody()
            </main>
@*         </div> *@


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Aurora Bricks - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
