@model IQueryable<string>
<div class="d-grid gap-2">
    <h5>Filters</h5>
    <a class="btn btn-sm btn-outline-secondary" asp-controller="Home" asp-action="ProductList" asp-route-productType="" asp-route-pageNum="">Home</a>
    <br />
    <p>Category</p>
    @foreach (string pt in Model ?? Enumerable.Empty<string>())
    {
        <a class="btn btn-sm @(pt == ViewBag.SelectedProductType ? "btn-primary" : "btn-outline-secondary")"
           asp-controller="Home" asp-action="ProductList" asp-route-productType="@pt" asp-route-pageNum="1">@pt</a>
    }
</div>

